services:
    web:
      build:
        context: .
        dockerfile: dockerfile.dev
      ports:
        - 3000:3000
      volumes:
        - /usr/app/node_modules
        - .:/usr/app
    tests:
      build:
        context: .
        dockerfile: dockerfile.dev
      volumes:
        - /usr/app/node_modules
        - .:/usr/app
      command: ["npm","run","test"]