services:
    web:
      build:
        context: .
        dockerfile: Dockerfile
      ports:
        - 80:80
    tests:
      build:
        context: .
        dockerfile: dockerfile.dev
      volumes:
        - /usr/app/node_modules
        - .:/usr/app
      command: ["npm","run","test"]