name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file dockerfile.dev --tag test
    - name: Test the app
      run: docker run -e CI=true test npm run test
    - name: Zip the files
      run: zip -r deploy.zip . -x "*.git*"
    - name: Deploy to EB
      uses: einaregilsson/beanstalk-deploy@v22
      with:
        aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        application_name: frontend
        environment_name: Frontend-env
        version_label: 1.0
        region: us-west-1
        deployment_package: deploy.zip

